.sectionColorBG {
    position: relative;
    padding-bottom: 50px;
}
.sectionColorBG p {
    font-size: 17px;
    text-align: center;
}
.portfolioFilter {
    padding-top: 15px;
    padding-bottom: 15px;
}
.container {
    padding: 100px 25px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0);
    background: #fff5ec;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolioContainer {
    width: 100%;
}
.portfolioContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    text-align: center;
}
.portfolioTitle {
    padding-bottom: 40px;
    text-align: center;
    color: #5e6472;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center!important;
    margin: 15px;
}
.portfolioDescription {
    width: 80%;
}
.exampleContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
