.sectionAbout {
    position: relative;
}
@media (max-width: 1400px){
    .sectionAbout  {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.sectionAbout :after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 40%;
    background: #dc965a;
    z-index: -1;
}
@media (max-width: 1400px) {
    .sectionAbout :after {
        display: none;
    }
}
p {
    margin-top: 0;
    margin-block-end: 1em;
    text-align: start;
}
.container {
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    flex-wrap: wrap;
}
.imgBox {
    width: 40%;
    margin: 40px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0);
    background: #fff5ec;
    padding: 10px;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.aboutMe {
    width: 50%;
    padding-top: 15px;
    padding-left: 40px;
}
.aboutMe p {
    text-align: start;
}
.aboutMe h3 {
    font-size: 30px;
    font-weight: 700;
    color: #1c1d24;
    margin-bottom: 15px;
    line-height: 1.2;
    margin-top: 0;
}
.aboutMe h5 {
    font-size: 18px;
    font-weight: 600;
    color: #1c1d24;
    margin-bottom: 20px;
    line-height: 1.2;
}
.colorTheme {
    color: #dc965a;
}
.aboutList {
    padding: 10px 0 15px;
    display: flex;
    flex-wrap: wrap;
}
.containerAbout {
    width: 350px;
}
.media {
    padding: 10px 0;
    line-height: normal;
    display: flex!important;
}
label {
    color: #090a0c;
    font-weight: 700;
    font-size: 15px;
    flex: 0 0 90px;
    border-right: 1px solid #c1c1c1;
    max-width: 90px;
    cursor: default;
}
.media p {
    margin-bottom: 0;
    padding-left: 15px;
    font-size: 15px;
}
.cvBar {
    padding-top: 12px;
}
.cvTheme {
    background: #dc965a;
    color: #fff;
    padding: 0 25px;
    line-height: 46px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none!important;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgb(0 0 0);
    cursor: pointer!important;
}
.cvTheme:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    top: 0;
    width: 0;
    transition: all .35s ease;
    background: #1c1d24;
    z-index: -1;
}
