.skillsSection {
    padding: 100px 0;
    position: relative;
}
.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)*-0.5);
    margin-left: calc(var(--bs-gutter-x)*-0.5);
}
.skillsTitle {
    text-align: center;
    width: 60%;
}
.commonBlock {
    margin-top: 1rem !important;
    margin-bottom: 1rem!important;
    width: 80%;
}
.smallTitle {
    margin-bottom: 30px;
}
.smallTitle h4 {
    color: #1c1d24;
    font-size: 24px;
    position: relative;
    padding: 0 0 15px;
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
}
.smallTitle h4:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
}
.fontAlt {
    font-family: "Nunito",serif;
}
.educationBox {
    margin: 20px 0px;
    background: #dc965a;
    list-style: none;
    padding: 25px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0);
}
.educationBox span {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
    color: #fff;
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 12px;
    line-height: 1;
}
.educationBox h6 {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 0.6rem;
    line-height: 1.2;
    margin-top: 0;
}
.educationBox p {
    display: inline-block;
    color: hsla(0,0%,100%,.8);
}
.darkBG {
    background: #1c1d24;
}
.skillsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 20px 0px;
    padding: 100px 25px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0);
    background: #fff5ec;
}
