.portfolio {
    background-color: #fff;
}

.containerPortfolio {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolioTitle {
    text-align: center;
    color: red;
}
.fontAlt {
    font-family: "Nunito",serif;
    font-size: 40px;
    color: #1c1d24;
    font-weight: 800;
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 15px;
    line-height: 1.2;
}
.fontAlt::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #dc965a;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
}

.portfolioBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: #d4ae17;
}