.footer {
    height: 80px;
    background-color: lavenderblush;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerBlock {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;

}

.images {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}